@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
}

<!DOCTYPE html>
<html lang="en" class="@themeMode">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <script defer src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico?v=1.1" />
    <title>@ViewData["Title"] - Silicon</title>
</head>
<body class="@(ViewContext.RouteData.Values["controller"]!.ToString() == "Courses" && ViewContext.RouteData.Values["action"]!.ToString() == "SingleCourse" ? "" : "styled-background")">
    <div class="wrapper">
        @await Html.PartialAsync("~/Views/Shared/Sections/_HeaderPartial.cshtml")

        <main>
            @RenderBody()
        </main>

        @await Html.PartialAsync("~/Views/Shared/Sections/_FooterPartial.cshtml")
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @await Html.PartialAsync("_SliderScriptPartial")
</body>
</html>

