@model AccountDetailsViewModel

<div class="container">
    <section id="account-security">

        <aside>
            <div class="profile-info">
                @if (Model.BasicForm.ProfileImage != null)
                {
                    <img src="@Model.BasicForm.ProfileImage" alt="@($"{Model.BasicForm.FirstName} {Model.BasicForm.LastName}")" />
                }
                else
                {
                    <img src="/images/cat.jpg" alt="Cat" />
                }
                <h5>@($"{Model.BasicForm.FirstName} {Model.BasicForm.LastName}")</h5>
                <p>@Model.BasicForm.Email</p>
            </div>

            <nav>
                <a class="btn-transparent" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i>Account Details</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock"></i>Security</a>
                <a class="btn-theme-s" asp-controller="Account" asp-action="SavedCourses"><i class="fa-light fa-bookmark"></i>Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-sharp fa-regular fa-arrow-right-from-bracket"></i>Sign Out</a>
            </nav>
        </aside>

        <div class="saved-items">

            <div class="title-box">
                <h2>Saved items</h2>
                <button class="btn-red-transparent"><i class="fa-regular fa-trash"></i>Delete all</button>
            </div>

            <div class="content">
                <div class="course-box">
                    <div class="image-box">
                        <img src="/images/course-image.svg" alt="">
                        <a href="#" class="bookmark">
                            <i class="fa-light fa-bookmark"></i>
                        </a>
                    </div>
                    <a href="#" class="course-text-box">
                        <h5>HTML, CSS, Javascript Web Developer</h5>
                        <p class>By Jenny Wilson & Marvin McKinney</p>
                        <p class="price">$15.99</p>
                        <hr />
                        <div class="time-rating">
                            <p><i class="fa-light fa-clock"></i>160 hours</p>
                            <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                        </div>
                    </a>
                </div>

                <div class="course-box">
                    <div class="image-box">
                        <img src="/images/course-image.svg" alt="">
                        <a href="#" class="bookmark">
                            <i class="fa-light fa-bookmark"></i>
                        </a>
                    </div>
                    <a href="#" class="course-text-box">
                        <h5>HTML, CSS, Javascript Web Developer</h5>
                        <p class>By Jenny Wilson & Marvin McKinney</p>
                        <p class="price">$15.99</p>
                        <hr />
                        <div class="time-rating">
                            <p><i class="fa-light fa-clock"></i>160 hours</p>
                            <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                        </div>
                    </a>
                </div>

                <div class="course-box">
                    <div class="image-box">
                        <img src="/images/course-image.svg" alt="">
                        <a href="#" class="bookmark">
                            <i class="fa-light fa-bookmark"></i>
                        </a>
                    </div>
                    <a href="#" class="course-text-box">
                        <h5>HTML, CSS, Javascript Web Developer</h5>
                        <p class>By Jenny Wilson & Marvin McKinney</p>
                        <p class="price">$15.99</p>
                        <hr />
                        <div class="time-rating">
                            <p><i class="fa-light fa-clock"></i>160 hours</p>
                            <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>



    </section>
</div>