<section id="download">
    <div class="container">
        <img class="screen-image" src="/images/screens.svg" alt="">
        <div>
            <h1>Download Our App<br>for Any Devices:</h1>
            <a href="#">
                <div class="app-box">
                    <div>
                        <p class="app-name">App Store</p>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <h4>Editor's Choice</h4>
                        <p>rating 4.7, 187K+reviews</p>
                    </div>
                    <img src="/images/logos/appstore-logo.svg" alt="">
                </div>
            </a>
            <a href="#">
                <div class="app-box">
                    <div>
                        <p class="app-name">Google Play</p>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <h4>App of the Day</h4>
                        <p>rating 4.8, 30K+reviews</p>
                    </div>
                    <img src="/images/logos/googleplay-logo.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</section>