<section id="features">
    <div class="container">
        <h1>What Do You Get with Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="tool-features">
            <div class="box">
                <img src="/images/icons/chat.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="/images/icons/presentation.svg" alt="">
                <h5>Task Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipscing vulputate</p>
            </div>
            <div class="box">
                <img src="/images/icons/add-group.svg" alt="">
                <h5>Multple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="box">
                <img src="/images/icons/bell.svg" alt="">
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam voutpat, eget pellenteque viverra.</p>
            </div>
            <div class="box">
                <img src="/images/icons/test.svg" alt="">
                <h5>Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nubh lorem ridiculus lectus.</p>
            </div>
            <div class="box">
                <img src="/images/icons/shield.svg" alt="">
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</section>