<section id="laptop">
    <div class="dark"></div>
    <h1 class="h1-white">Switch Between</h1>
    <h1 class="h1-black">Light & Dark Mode</h1>
    <div class="slider"><i class="fa-solid fa-left-right"></i></div>
    <img src="/images/laptop.svg" alt="">
</section>
