<section id="manage">
    <div class="container">
        <img src="/images/manage-image.svg" alt="">
        <div class="text-box">
            <h2>Manage Your Work</h2>
            <p><i class="fa-light fa-circle-check"></i>Powerful project management</p>
            <p><i class="fa-light fa-circle-check"></i>Transparent work management</p>
            <p><i class="fa-light fa-circle-check"></i>Manage work & focus on the most important tasks</p>
            <p><i class="fa-light fa-circle-check"></i>Track your progress with interactive charts</p>
            <p><i class="fa-light fa-circle-check"></i>Easiest way to track time spent on tasks</p>
            <a class="btn-theme-s" href="#">Learn More<i class="fa-regular fa-arrow-right"></i></a>
        </div>
    </div>
</section>