@model NewsLetterModel

<section id="newsletter">
    <div class="container">

        <div class="title-box">
            <h1>Don't want to Miss Anything?</h1>
            <img src="/images/arrows.svg" alt="">
        </div>
        <form asp-controller="Home" asp-action="Subscribe" novalidate>
            <div class="signup">
                <h5>Sign up for<br>Newsletters</h5>
                <div class="content">
                    <div class="newsletter-boxes">
                        <input asp-for="DailyNewsletter"/>
                        <label asp-for="DailyNewsletter"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="AdvertisingUpdates"/>
                        <label asp-for="AdvertisingUpdates"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="WeekInReview" />
                        <label asp-for="WeekInReview"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="EventUpdates" />
                        <label asp-for="EventUpdates"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="StartupsWeekly"/>
                        <label asp-for="StartupsWeekly"></label>
                    </div>
                    <div class="newsletter-boxes">
                        <input asp-for="Podcasts"/>
                        <label asp-for="Podcasts"></label>
                    </div>
                </div>
            </div>

            <span asp-validation-for="Email"></span>
            <div class="subscribe">
                <div class="input-div">
                    <i class="fa-light fa-envelope"></i>
                    <input asp-for="Email"/>
                </div>
                <button class="btn-theme" type="submit" asp-fragment="newsletter">Subscribe*</button>
            </div>
            <p>* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy.</a></p>
        </form>
    </div>
</section>
@await Html.PartialAsync("_ValidationScriptPartial")