<section id="tools">
    <div class="container">
        <div class="tool-title">
            <h1>Integrate Top Work Tools</h1>
            <p id="light-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="content">
            <a class="tool-box" href="#">
                <img src="/images/logos/Google.svg" alt="Google logo">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a class="tool-box" href="#">
                <img src="/images/logos/Zoom.svg" alt="Zoom logo">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a class="tool-box" href="#">
                <img src="/images/logos/Slack.svg" alt="Slack logo">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a class="tool-box" href="#">
                <img src="/images/logos/gmail.svg" alt="Gmail logo">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a class="tool-box" href="#">
                <img src="/images/logos/Trello.svg" alt="Trello logo">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a class="tool-box" href="#">
                <img src="/images/logos/MailChimp.svg" alt="Mailchimp Logo">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a class="tool-box" href="#">
                <img src="/images/logos/Dropbox.svg" alt="Dropbox logo">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
            <a class="tool-box" href="#">
                <img src="/images/logos/Evernote.svg" alt="Evernote logo">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </a>
        </div>
    </div>
</section>