header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "logo switch buttons";
        gap: 40px;

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo menu switch buttons";
        }

        #logo {
            grid-area: logo;
        }

        #menu {
            grid-area: menu;
            display: none;

            @include lg {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;
            }
        }

        .btn-switch {
            grid-area: switch;

            @include lg {
                display: block;
            }
        }

        .account-buttons {
            grid-area: buttons;
            gap: 15px;

            a {
                font-size: 10px;

                @include md {
                    font-size: 14px;
                }

                img {
                    border-radius: 100%;
                    max-width: 3rem;
                    max-height: 3rem;
                }
            }

            @include lg {
                display: flex;
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;

            @include lg {
                display: none;
            }
        }
    }
}
.blue-background {
    background-color: var(--color-gray-100);
}