<section id="courses">
    <div class="container">
        <div class="link-box">
            <i class="fa-light fa-house"></i>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <i class="fa-sharp fa-light fa-chevrons-right"></i>
            <p>Courses</p>
        </div>
        <div class="title-box">
            <h1>Courses</h1>
            <div class="categories-box">
                <select id="categories">
                    <option value="">All categories</option>
                </select>
                <div class="input-div">
                    <input type="text">
                    <i class="fa-light fa-magnifying-glass"></i>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
                        <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
            <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
            <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
            <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
            <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
            <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
                        <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
            <div class="course-box">
                <div class="image-box">
                    <img src="/images/course-image.svg" alt="">
                    <a asp-controller="Courses" asp-action="Bookmark" class="bookmark">
                        <i class="fa-light fa-bookmark"></i>
                    </a>
                </div>
                <a asp-controller="Courses" asp-action="SingleCourse" class="course-text-box">
                    <h5>HTML, CSS, Javascript Web Developer</h5>
                    <p class>By Jenny Wilson & Marvin McKinney</p>
                    <p class="price">$15.99</p>
                    <hr />
                    <div class="time-rating">
                        <p><i class="fa-light fa-clock"></i>160 hours</p>
                        <p><i class="fa-light fa-thumbs-up"></i>92% (3.1k)</p>
                    </div>
                </a>
            </div>
            <div class="button-box"></div>
        </div>

        <div class="work-with-us">
            <div class="text-box">
                <p>Ready to get started?</p>
                <h1>Take Your <span class="theme">Skills</span> to the Next Level</h1>
                <button class="btn-theme">Work with us</button>
            </div>
            <img src="/images/work-with-us.svg" alt="">
        </div>
    </div>
</section>