@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}

<section class="error-section">
    <div class="container">
        <img src="/images/@(isDark ? "404-dark.svg" : "404-light.svg" )" alt="404-picture">
        <h1>
            Ooops!
        </h1>
        <p>
            The page you are looking for is not available
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn-theme"><i class="fa-sharp fa-light fa-house"></i>Go to homepage</a>
    </div>
</section>