<header>
    <div class="container">
        <a id="logo" href="index.html"><img src="~/images/logos/silicon-logo.svg" alt="logo"></a>
        <div id="menu">
            <nav>
                <a class="menu-link" href="#showcase">Showcase</a>
                <a class="menu-link" href="#features">Features</a>
                <a class="menu-link" href="#contact.html">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            <a class="btn-gray" href="/SignIn.html"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
            <a class="btn-theme" href="/SignUp.html"><i class="fa-solid fa-user"></i><span>Sign Up</span></a>
        </div>

    </div>
</header>
