@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --color-gray-001: #FFFFFF;
  --color-gray-100: #F3F6FF;
  --color-gray-200: #EFF2FC;
  --color-gray-300: #E2E5F1;
  --color-gray-400: #D4D7E5;
  --color-gray-500: #B4B7C9;
  --color-gray-600: #9397AD;
  --color-gray-700: #565973;
  --color-gray-800: #33354D;
  --color-gray-900: #0B0F19;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-000: #EFF2FC;
  --color-theme: #6366F1;
  --color-danger: #E57E88;
  --color-success: #BCF7D2;
  --color-warning: #FFE8AD;
  --font-standard: "Manrope", sans-serif;
  color-scheme: light;
}

:root.dark {
  --color-gray-001: #0B0F19;
  --color-gray-100: #12161F;
  --color-gray-200: #12161F;
  --color-gray-300: #9397AD;
  --color-gray-400: #B4B7C9;
  --color-gray-500: #D4D7E5;
  --color-gray-600: #E2E5F1;
  --color-gray-700: #EFF2FC;
  --color-gray-800: #F3F6FF;
  --color-gray-900: #FFFFFF;
  --color-white: #000000;
  --color-black: #FFFFFF;
  --color-gray-000: #EFF2FC;
  --color-theme: #6366F1;
  --color-danger: #E57E88;
  --color-success: #BCF7D2;
  --color-warning: #FFE8AD;
  --font-standard: "Manrope", sans-serif;
  color-scheme: dark;
}

html, body {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: var(--color-gray-900);
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 16px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.styled-background {
  background-color: var(--color-gray-001);
}

a {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: var(--color-gray-800);
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.25s ease-in-out;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.25s ease-in-out;
  background: var(--color-gray-200);
  color: var(--color-gray-800);
  border: none;
}
.btn-gray:hover {
  text-decoration: none;
  background: var(--color-gray-700);
  color: #FFFFFF;
}

.btn-blue {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.25s ease-in-out;
  border: 0;
  background: #4C82F7;
  color: #FFFFFF;
}
.btn-blue:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-red {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.25s ease-in-out;
  background: #EF4444;
  color: #FFFFFF;
  border: none;
}
.btn-red:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-red-transparent {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.25s ease-in-out;
  background: transparent;
  color: #EF4444;
  border: solid 1px #EF4444;
}
.btn-red-transparent:hover {
  text-decoration: none;
  background: #EF4444;
  color: #FFFFFF;
}

.btn-transparent {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.25s ease-in-out;
  background: transparent;
  color: var(--color-gray-900);
  border: none;
}
.btn-transparent:hover {
  text-decoration: none;
  background: var(--color-gray-700);
  color: var(--color-white);
}

.btn-circle {
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 26px;
  height: 26px;
  background-color: var(--color-gray-300);
  color: var(--color-black);
  transition: all 0.25s ease-in-out;
}
.btn-circle:hover {
  text-decoration: none;
  background: var(--color-gray-700);
  color: var(--color-white);
  cursor: pointer;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: var(--color-gray-800);
  font-weight: 600 !important;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
}
.btn-social:hover {
  text-decoration: none;
  background: var(--color-gray-700);
  color: var(--color-white);
}

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo switch buttons";
  gap: 40px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
  display: none;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  display: flex;
  gap: 15px;
}
header .container .btn-switch {
  grid-area: switch;
}
@media (min-width: 992px) {
  header .container .btn-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  gap: 15px;
}
header .container .account-buttons a {
  font-size: 10px;
}
@media (min-width: 768px) {
  header .container .account-buttons a {
    font-size: 14px;
  }
}
header .container .account-buttons a img {
  border-radius: 100%;
  max-width: 3rem;
  max-height: 3rem;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}

.blue-background {
  background-color: var(--color-gray-100);
}

footer {
  padding: 50px 0 30px 0;
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  color: var(--color-gray-600);
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

#showcase {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
#showcase img {
  display: none;
}
@media (min-width: 1200px) {
  #showcase img {
    display: block;
  }
}
#showcase .container {
  display: flex;
  justify-content: space-between;
}
#showcase .container .content {
  margin-top: 0px;
  text-align: center;
}
@media (min-width: 992px) {
  #showcase .container .content {
    margin-top: 100px;
    text-align: left;
  }
}
#showcase .container .content h1 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 32px !important;
}
@media (min-width: 992px) {
  #showcase .container .content h1 {
    line-height: 160%;
    font-weight: 400;
    color: var(--color-gray-700);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    color: var(--color-gray-900);
    font-size: 56px !important;
  }
}
#showcase .container .content p {
  margin: 20px 0 40px 0;
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}
@media (min-width: 992px) {
  #showcase .container .content p {
    margin: 40px 0 50px 0;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-gray-700);
    font-family: "Manrope", sans-serif;
    font-size: 18px !important;
  }
}
#showcase .container .btn-theme-s {
  display: block;
}
@media (min-width: 1200px) {
  #showcase .container .btn-theme-s {
    display: inline-block;
  }
}
#showcase .container h6 {
  margin: 150px 0 30px 0;
  display: none;
}
@media (min-width: 992px) {
  #showcase .container h6 {
    margin: 100px 0 30px 0;
    display: flex;
  }
}
#showcase .container .brands {
  display: none;
  gap: 30px;
}
@media (min-width: 992px) {
  #showcase .container .brands {
    display: flex;
  }
}
#showcase .container .brands img {
  margin-right: 10px;
  width: 120px;
}

#features {
  background: var(--color-gray-100);
  padding: 80px 0;
}
#features .container {
  display: grid;
  justify-content: center;
  text-align: center;
}
#features .container .tool-features {
  margin-top: 20px;
  display: grid;
}
@media (min-width: 992px) {
  #features .container .tool-features {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#features .container .tool-features .box {
  padding: 20px;
  border: 1px solid var(--color-gray-300);
  transition: all 0.15s ease-in-out;
}
@media (min-width: 992px) {
  #features .container .tool-features .box:nth-child(1) {
    border-top: 0px solid var(--color-gray-300);
    border-left: 0px solid var(--color-gray-300);
  }
  #features .container .tool-features .box:nth-child(2) {
    border-top: 0px solid var(--color-gray-300);
  }
  #features .container .tool-features .box:nth-child(3) {
    border-top: 0px solid var(--color-gray-300);
    border-right: 0px solid var(--color-gray-300);
  }
  #features .container .tool-features .box:nth-child(4) {
    border-bottom: 0px solid var(--color-gray-300);
    border-left: 0px solid var(--color-gray-300);
  }
  #features .container .tool-features .box:nth-child(5) {
    border-bottom: 0px solid var(--color-gray-300);
  }
  #features .container .tool-features .box:nth-child(6) {
    border-bottom: 0px solid var(--color-gray-300);
    border-right: 0px solid var(--color-gray-300);
  }
}
#features .container .tool-features .box:hover {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  background: var(--color-white);
  box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
}
#features .container .tool-features .box img {
  padding: 10px;
  background-color: var(--color-gray-100);
  margin: 20px;
  border-radius: 8px;
}
#features .container .tool-features .box h5 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 20px !important;
}
#features .container .tool-features .box p {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

#manage {
  padding: 5rem 0;
}
@media (min-width: 1200px) {
  #manage {
    padding-top: 100px;
  }
}
#manage .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  #manage .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}
#manage .container img {
  display: none;
}
@media (min-width: 768px) {
  #manage .container img {
    display: flex;
  }
}
#manage .container .text-box {
  margin-top: 100px;
}
#manage .container .text-box h2 {
  margin-bottom: 40px;
}
#manage .container .text-box i {
  color: #6366F1;
  margin: 0 10px;
}
#manage .container .text-box a {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  #manage .container .text-box a {
    display: inline-block;
  }
}
#manage .container .text-box a i {
  color: #fff;
}

#laptop {
  display: flex;
  justify-content: center;
  position: relative;
  height: 50dvw;
  background-color: white;
}
#laptop .h1-white {
  z-index: 0;
  margin-left: 30px;
  margin-top: 30px;
  opacity: 0;
}
@media (min-width: 768px) {
  #laptop .h1-white {
    line-height: 160%;
    font-weight: 400;
    color: var(--color-gray-700);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    color: var(--color-gray-900);
    font-size: 32px !important;
    color: white;
    opacity: 100;
  }
}
@media (min-width: 992px) {
  #laptop .h1-white {
    line-height: 160%;
    font-weight: 400;
    color: var(--color-gray-700);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    color: var(--color-gray-900);
    font-size: 40px !important;
    color: white;
  }
}
#laptop .h1-black {
  margin-left: 20px;
  margin-top: 30px;
  opacity: 0;
  color: black;
}
@media (min-width: 768px) {
  #laptop .h1-black {
    line-height: 160%;
    font-weight: 400;
    color: var(--color-gray-700);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    color: var(--color-gray-900);
    font-size: 32px !important;
    opacity: 100;
    color: black;
  }
}
@media (min-width: 992px) {
  #laptop .h1-black {
    line-height: 160%;
    font-weight: 400;
    color: var(--color-gray-700);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    color: var(--color-gray-900);
    font-size: 40px !important;
    color: black;
  }
}
#laptop .dark {
  position: absolute;
  width: 50dvw;
  height: 100%;
  left: 0%;
  top: 0%;
  background-color: #0B0F19;
}
#laptop .slider {
  position: absolute;
  left: 50dvw;
  width: 3px;
  height: 100%;
  z-index: 1;
  background-color: #6366F1;
  transform: translateX(-50%);
}
#laptop .slider i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  background-color: #6366F1;
  color: white;
  border-radius: 15px;
  padding: 3px;
  font-size: 14px;
}
#laptop img {
  position: absolute;
  width: 50dvw;
  top: 10dvw;
  left: 25dvw;
  z-index: 0;
}

#download {
  background-color: var(--color-gray-100);
}
#download .container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  background-color: var(--color-gray-200);
  padding: 6rem 0;
}
@media (min-width: 1200px) {
  #download .container {
    flex-direction: row;
  }
}
#download .container .screen-image {
  width: auto;
  height: 50%;
}
#download .container h1 {
  text-align: center;
}
@media (min-width: 1200px) {
  #download .container h1 {
    text-align: start;
  }
}
#download .container a {
  text-decoration: none;
  color: var(--color-gray-700);
}
#download .container a:hover {
  opacity: 0.5;
}
#download .container a .app-box {
  display: flex;
  gap: 5rem;
  padding-bottom: 2rem;
  justify-content: center;
}
@media (min-width: 1200px) {
  #download .container a .app-box {
    justify-content: start;
  }
}
#download .container a .app-box .app-name {
  color: var(--color-gray-600);
  margin-top: 2rem;
  margin-bottom: -0.3rem;
}
#download .container a .app-box i {
  color: #FFBA08;
  font-size: 10px;
  margin-right: 3px;
}
#download .container a .app-box img {
  padding-top: 6rem;
}

#tools {
  padding: 6rem 0;
}
#tools .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#tools .container .tool-title {
  max-width: 50dvw;
  padding-bottom: 5rem;
}
#tools .container .tool-title #light-subtitle {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  color: var(--color-gray-600);
  margin-top: 1rem;
}
#tools .container .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}
@media (min-width: 768px) {
  #tools .container .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  #tools .container .content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#tools .container .content .tool-box {
  padding: 1rem;
  text-align: start;
  text-decoration: none;
  color: var(--color-gray-700);
}
#tools .container .content .tool-box:hover {
  opacity: 0.75;
  box-shadow: 4px 4px 4px 4px var(--color-gray-300);
  border-radius: 0.5rem;
}
#tools .container .content .tool-box img {
  padding-bottom: 1rem;
}

#newsletter {
  padding: 6rem 0;
  background-color: var(--color-gray-100);
}
#newsletter .field-validation-error {
  display: block;
  color: #EF4444;
}
@media (min-width: 1400px) {
  #newsletter .container {
    max-width: 968px;
  }
}
#newsletter .container .title-box {
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}
@media (min-width: 768px) {
  #newsletter .container .title-box {
    text-align: start;
  }
}
#newsletter .container .title-box img {
  display: none;
}
@media (min-width: 768px) {
  #newsletter .container .title-box img {
    display: flex;
  }
}
#newsletter .container .signup {
  display: block;
  text-align: center;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  #newsletter .container .signup {
    text-align: start;
    display: flex;
  }
}
#newsletter .container .signup .content {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  #newsletter .container .signup .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  #newsletter .container .signup .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#newsletter .container .signup .content .newsletter-boxes {
  padding-left: 0;
}
@media (min-width: 768px) {
  #newsletter .container .signup .content .newsletter-boxes {
    padding-left: 4rem;
  }
}
#newsletter .container .signup .content .newsletter-boxes input {
  margin-right: 0.5rem;
}
#newsletter .container .subscribe {
  display: grid;
  gap: 1rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  #newsletter .container .subscribe {
    grid-template-columns: 1fr auto;
  }
}
#newsletter .container .subscribe .input-div {
  display: flex;
  border: solid 1px var(--color-gray-400);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  background-color: var(--color-gray-001);
}
#newsletter .container .subscribe .input-div input {
  background-color: var(--color-gray-001);
  margin-left: 0.5rem;
  width: 100%;
  border: none;
}
#newsletter .container .subscribe .input-div i {
  padding-top: 0.3rem;
  font-size: 18px;
  color: var(--color-gray-600);
}

#sign-in {
  padding: 6rem 0;
}
#sign-in .container {
  max-width: 35rem;
}
#sign-in .container .field-validation-error {
  display: block;
  color: #EF4444;
}
#sign-in .container form {
  padding-top: 0.5rem;
}
#sign-in .container form .form-box {
  position: relative;
}
#sign-in .container form .form-box span {
  display: block;
  color: #EF4444;
  position: static;
  right: 0;
}
@media (min-width: 768px) {
  #sign-in .container form .form-box span {
    position: absolute;
    display: inline;
  }
}
#sign-in .container form .block-input {
  display: block;
  width: 100%;
  padding: 1rem 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: solid 1px var(--color-gray-400);
}
#sign-in .container form .checkbox-input {
  margin-right: 0.5rem;
}
#sign-in .container form label {
  color: var(--color-gray-900);
}
#sign-in .container form .external-providers {
  text-align: center;
  padding: 1rem 0;
}
#sign-in .container form .external-providers .external-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
#sign-in .container form .external-providers .external-buttons .btn-gray {
  width: 100%;
}
#sign-in .container .form-button {
  text-align: center;
}
#sign-in .container .form-button .btn-theme {
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0;
}

#sign-up {
  padding: 6rem 0;
}
#sign-up .container {
  max-width: 35rem;
}
#sign-up .container label {
  color: var(--color-gray-900);
}
#sign-up .container .field-validation-error {
  display: block;
  color: #EF4444;
}
#sign-up .container .create-form-name {
  display: block;
}
@media (min-width: 768px) {
  #sign-up .container .create-form-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}
#sign-up .container .create-form-name .create-form-name-box {
  position: relative;
  margin-bottom: 2rem;
}
#sign-up .container .create-form-name .create-form-name-box span {
  display: block;
  color: #EF4444;
  position: static;
  right: 0;
}
@media (min-width: 768px) {
  #sign-up .container .create-form-name .create-form-name-box span {
    position: absolute;
    display: inline;
  }
}
#sign-up .container .input-box {
  display: block;
  padding: 0.8rem;
  border: 1px var(--color-gray-400) solid;
  border-radius: 0.3rem;
  width: 100%;
}
#sign-up .container .create-form-box {
  margin-bottom: 2rem;
  position: relative;
}
#sign-up .container .create-form-box .password-validation {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
  margin: 1rem 0;
}
#sign-up .container .create-form-box span {
  display: block;
  color: #EF4444;
  position: static;
  right: 0;
}
@media (min-width: 768px) {
  #sign-up .container .create-form-box span {
    position: absolute;
    display: inline;
  }
}
#sign-up .container .input-checkbox {
  margin-left: 1rem;
}
#sign-up .container .btn-theme-s {
  margin-top: 2rem;
  width: 100%;
}

.account-details-section #account-details {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 0px;
  padding-bottom: 70px;
}
@media (min-width: 992px) {
  .account-details-section #account-details {
    gap: 150px;
  }
}
.account-details-section #account-details .field-validation-error {
  color: #EF4444;
}
.account-details-section #account-details aside {
  border-right: 1px solid var(--color-gray-300);
  padding-right: 20px;
}
.account-details-section #account-details aside .profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.account-details-section #account-details aside .profile-info .image {
  display: flex;
  position: relative;
}
.account-details-section #account-details aside .profile-info .image .btn-circle {
  position: absolute;
  bottom: 0;
  right: 4px;
}
.account-details-section #account-details aside .profile-info .image img {
  border-radius: 100%;
  max-width: 7rem;
  max-height: 7rem;
}
.account-details-section #account-details aside .profile-info h5 {
  margin-top: 15px;
  margin-bottom: 0;
}
.account-details-section #account-details aside .profile-info p {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}
.account-details-section #account-details aside nav {
  margin-top: 50px;
  text-align: left;
}
.account-details-section #account-details aside nav a {
  margin: 10px 0;
  text-align: left;
  justify-content: flex-start;
}
.account-details-section #account-details aside nav .btn-theme-s {
  text-align: left;
  justify-content: flex-start;
}
.account-details-section #account-details .details {
  margin-top: 50px;
  width: 100%;
}
.account-details-section #account-details .details .input-group {
  display: grid;
}
.account-details-section #account-details .details .input-group input {
  padding: 1rem;
  border-radius: 0.5rem !important;
  border: 0.063rem solid var(--color-gray-400);
}
.account-details-section #account-details .details .input-group input::placeholder {
  opacity: 0.4;
}
.account-details-section #account-details .details .input-group input.input-validation-error {
  border: 0.063 rem solid #EF4444 !important;
}
.account-details-section #account-details .details textarea {
  padding: 1rem;
  border-radius: 0.5rem !important;
  border: 0.063rem solid var(--color-gray-400);
  resize: none;
}
.account-details-section #account-details .details textarea::placeholder {
  opacity: 0.4;
}
.account-details-section #account-details .details textarea.input-validation-error {
  border: 0.063 rem solid #EF4444 !important;
}
.account-details-section #account-details .details .form-buttons {
  grid-area: buttons;
  margin: 20px 0;
  gap: 20px;
}
@media (min-width: 992px) {
  .account-details-section #account-details .details .form-buttons {
    display: flex;
  }
}
.account-details-section #account-details .details .form-buttons button {
  display: block;
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 992px) {
  .account-details-section #account-details .details .form-buttons button {
    margin: 0;
    width: auto;
  }
}
.account-details-section #account-details .details .basic-info form {
  padding: 1rem;
}
.account-details-section #account-details .details .basic-info form h5 {
  color: #6366F1;
}
.account-details-section #account-details .details .basic-info form .content {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname" "lastname" "email" "phone" "bio" "bio" "buttons" "buttons";
}
@media (min-width: 992px) {
  .account-details-section #account-details .details .basic-info form .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";
  }
}
.account-details-section #account-details .details .basic-info form .content #form-firstname {
  grid-area: firstname;
}
.account-details-section #account-details .details .basic-info form .content #form-lastname {
  grid-area: lastname;
}
.account-details-section #account-details .details .basic-info form .content #form-email {
  grid-area: email;
}
.account-details-section #account-details .details .basic-info form .content #form-phone {
  grid-area: phone;
}
.account-details-section #account-details .details .basic-info form .content #form-bio {
  grid-area: bio;
}
.account-details-section #account-details .details .basic-info form .content #form-bio span {
  color: var(--color-gray-500);
  font-weight: 400;
}
.account-details-section #account-details .details .address-info {
  margin-top: 30px;
}
.account-details-section #account-details .details .address-info form {
  padding: 1rem;
}
.account-details-section #account-details .details .address-info form h5 {
  color: #6366F1;
}
.account-details-section #account-details .details .address-info form .content {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "addressline_1" "addressline_2" "postalcode" "city" "buttons";
}
@media (min-width: 992px) {
  .account-details-section #account-details .details .address-info form .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "addressline_1 addressline_1" "addressline_2 addressline_2" "postalcode city" "buttons buttons";
  }
}
.account-details-section #account-details .details .address-info form .content #form-addressline-1 {
  grid-area: addressline_1;
}
.account-details-section #account-details .details .address-info form .content #form-addressline-2 {
  grid-area: addressline_2;
}
.account-details-section #account-details .details .address-info form .content #form-addressline-2 span {
  color: var(--color-gray-500);
  font-weight: 400;
}
.account-details-section #account-details .details .address-info form .content #form-postalcode {
  grid-area: postalcode;
}
.account-details-section #account-details .details .address-info form .content #form-city {
  grid-area: city;
}

#account-security .container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 0px;
  padding-bottom: 70px;
}
@media (min-width: 992px) {
  #account-security .container {
    gap: 150px;
  }
}
#account-security .container .field-validation-error {
  color: #EF4444;
}
#account-security .container aside {
  border-right: 1px solid var(--color-gray-300);
  padding-right: 20px;
}
#account-security .container aside .profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}
#account-security .container aside .profile-info .image {
  display: flex;
  position: relative;
}
#account-security .container aside .profile-info .image .btn-circle {
  position: absolute;
  bottom: 0;
  right: 4px;
}
#account-security .container aside .profile-info .image img {
  border-radius: 100%;
  max-width: 7rem;
  max-height: 7rem;
}
#account-security .container aside .profile-info h5 {
  margin-top: 15px;
  margin-bottom: 0;
}
#account-security .container aside .profile-info p {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}
#account-security .container aside nav {
  margin-top: 50px;
  text-align: left;
}
#account-security .container aside nav a {
  margin: 10px 0;
  text-align: left;
  justify-content: flex-start;
}
#account-security .container aside nav .btn-theme-s {
  text-align: left;
  justify-content: flex-start;
}
#account-security .container .security {
  margin-top: 50px;
  width: 100%;
}
#account-security .container .security h5 {
  color: #6366F1;
}
#account-security .container .security .input-group {
  display: grid;
}
#account-security .container .security .input-group input {
  padding: 1rem;
  border-radius: 0.5rem !important;
  border: 0.063rem solid var(--color-gray-400);
}
#account-security .container .security .input-group input::placeholder {
  opacity: 0.4;
}
#account-security .container .security .input-group input.input-validation-error {
  border: 0.063 rem solid #EF4444 !important;
}
#account-security .container .security form {
  padding: 1rem;
}
#account-security .container .security form .content {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "current-pw" "new-pw" "confirm-pw" "buttons" "buttons";
}
@media (min-width: 992px) {
  #account-security .container .security form .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "current-pw nothing" "new-pw confirm-pw" "buttons buttons";
  }
}
#account-security .container .security form .content #form-current-password {
  grid-area: current-pw;
}
#account-security .container .security form .content #form-new-password {
  grid-area: new-pw;
}
#account-security .container .security form .content #form-confirm-password {
  grid-area: confirm-pw;
}
#account-security .container .security form .content .form-buttons {
  grid-area: buttons;
  margin: 20px 0;
  gap: 20px;
}
@media (min-width: 992px) {
  #account-security .container .security form .content .form-buttons {
    display: flex;
  }
}
#account-security .container .security form .content .form-buttons button {
  display: block;
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 992px) {
  #account-security .container .security form .content .form-buttons button {
    margin: 0;
    width: auto;
  }
}
#account-security .container .security .delete-account {
  padding: 2rem;
}
#account-security .container .security .delete-account .checkbox-input {
  margin-right: 0.5rem;
}
#account-security .container .security .delete-account .btn-red {
  margin-top: 2rem;
}

#account-saved-courses .container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 30px;
  padding-bottom: 70px;
}
@media (min-width: 992px) {
  #account-saved-courses .container {
    gap: 100px;
  }
}
#account-saved-courses .container .field-validation-error {
  color: #EF4444;
}
#account-saved-courses .container aside {
  border-right: 1px solid var(--color-gray-300);
  padding-right: 20px;
}
#account-saved-courses .container aside .profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}
#account-saved-courses .container aside .profile-info .image {
  display: flex;
  position: relative;
}
#account-saved-courses .container aside .profile-info .image .btn-circle {
  position: absolute;
  bottom: 0;
  right: 4px;
}
#account-saved-courses .container aside .profile-info .image img {
  border-radius: 100%;
  max-width: 7rem;
  max-height: 7rem;
}
#account-saved-courses .container aside .profile-info h5 {
  margin-top: 15px;
  margin-bottom: 0;
}
#account-saved-courses .container aside .profile-info p {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}
#account-saved-courses .container aside nav {
  margin-top: 50px;
  text-align: left;
}
#account-saved-courses .container aside nav a {
  margin: 10px 0;
  text-align: left;
  justify-content: flex-start;
}
#account-saved-courses .container aside nav .btn-theme-s {
  text-align: left;
  justify-content: flex-start;
}
#account-saved-courses .container .saved-items {
  padding: 2rem 0;
}
#account-saved-courses .container .saved-items .title-box {
  display: block;
  text-align: center;
}
#account-saved-courses .container .saved-items .title-box button {
  width: 100%;
}
@media (min-width: 768px) {
  #account-saved-courses .container .saved-items .title-box button {
    width: auto;
  }
}
@media (min-width: 768px) {
  #account-saved-courses .container .saved-items .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
#account-saved-courses .container .saved-items .content {
  display: grid;
  justify-content: start;
  grid-template-columns: auto;
  gap: 2rem;
  padding: 2rem 0;
}
@media (min-width: 992px) {
  #account-saved-courses .container .saved-items .content {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  #account-saved-courses .container .saved-items .content {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}
#account-saved-courses .container .saved-items .content .course-box {
  max-width: 26rem;
  box-shadow: 1px 1px 1px 1px var(--color-gray-300);
  border-radius: 0.5rem;
  overflow: hidden;
}
#account-saved-courses .container .saved-items .content .course-box .image-box {
  position: relative;
}
#account-saved-courses .container .saved-items .content .course-box .image-box img {
  width: 100%;
}
#account-saved-courses .container .saved-items .content .course-box .image-box .best-seller {
  background-color: #22C55E;
  padding: 0.2rem;
  border-radius: 10%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
}
#account-saved-courses .container .saved-items .content .course-box .image-box .bookmark {
  text-decoration: none;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  border-radius: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.3rem;
  text-align: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
#account-saved-courses .container .saved-items .content .course-box .image-box .bookmark .saved {
  color: #6366F1;
}
#account-saved-courses .container .saved-items .content .course-box .image-box .bookmark:hover {
  background-color: #6366F1;
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box {
  display: block;
  text-decoration: none;
  padding: 2rem 2rem 0 2rem;
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box h5 {
  color: var(--color-gray-800);
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box p {
  color: var(--color-gray-700);
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box hr {
  display: none;
}
@media (min-width: 768px) {
  #account-saved-courses .container .saved-items .content .course-box .course-text-box hr {
    display: block;
  }
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box .price {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  font-weight: 700;
  color: #6366F1;
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box .discount-price-box {
  display: flex;
  gap: 1rem;
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box .discount-price-box .discount-price {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  color: #EF4444;
  font-weight: 700;
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box .discount-price-box .original-price {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  text-decoration: line-through;
  color: var(--color-gray-600);
  font-weight: 700;
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box .time-rating {
  display: none;
  gap: 1rem;
  color: var(--color-gray-600);
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box .time-rating i {
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  #account-saved-courses .container .saved-items .content .course-box .course-text-box .time-rating {
    display: flex;
  }
}
#account-saved-courses .container .saved-items .content .course-box .course-text-box:hover {
  opacity: 0.6;
  background-color: var(--color-gray-200);
}

#courses {
  padding: 5rem 0;
}
#courses .container .link-box {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}
@media (min-width: 992px) {
  #courses .container .link-box {
    justify-content: start;
  }
}
#courses .container .link-box a {
  margin-left: -0.7rem;
}
#courses .container .link-box p {
  margin-top: 1rem;
}
#courses .container .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  #courses .container .title-box {
    flex-direction: row;
  }
}
#courses .container .title-box .categories-box {
  display: flex;
  gap: 2rem;
}
#courses .container .title-box .categories-box .select {
  position: relative;
  min-width: 300px;
}
#courses .container .title-box .categories-box .select .selected {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
  cursor: pointer;
}
#courses .container .title-box .categories-box .select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  z-index: 10;
}
#courses .container .title-box .categories-box .select .select-options .option {
  padding: 10px;
  cursor: pointer;
}
#courses .container .title-box .categories-box .select .select-options .option:hover {
  background-color: var(--color-gray-400);
}
#courses .container .title-box .categories-box .input-div {
  display: flex;
  align-items: center;
  border: solid 1px var(--color-gray-400);
  border-radius: 8px;
  padding: 0 2rem;
  background-color: var(--color-gray-001);
}
#courses .container .title-box .categories-box .input-div input {
  background-color: var(--color-gray-001);
  width: 100%;
  border: none;
}
#courses .container .content {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  gap: 2rem;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  #courses .container .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  #courses .container .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#courses .container .content .course-box {
  max-width: 26rem;
  box-shadow: 1px 1px 1px 1px var(--color-gray-300);
  border-radius: 0.5rem;
  overflow: hidden;
}
#courses .container .content .course-box .image-box {
  position: relative;
}
#courses .container .content .course-box .image-box img {
  width: 100%;
}
#courses .container .content .course-box .image-box .best-seller {
  background-color: #22C55E;
  padding: 0.2rem;
  border-radius: 10%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--color-white);
}
#courses .container .content .course-box .image-box .bookmark {
  text-decoration: none;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  border-radius: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.3rem;
  text-align: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
#courses .container .content .course-box .image-box .bookmark .saved {
  color: #6366F1;
}
#courses .container .content .course-box .image-box .bookmark:hover {
  background-color: #6366F1;
}
#courses .container .content .course-box .course-text-box {
  display: block;
  text-decoration: none;
  padding: 2rem 2rem 0 2rem;
}
#courses .container .content .course-box .course-text-box h5 {
  color: var(--color-gray-800);
}
#courses .container .content .course-box .course-text-box p {
  color: var(--color-gray-700);
}
#courses .container .content .course-box .course-text-box .price {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  font-weight: 700;
  color: #6366F1;
}
#courses .container .content .course-box .course-text-box .discount-price-box {
  display: flex;
  gap: 1rem;
}
#courses .container .content .course-box .course-text-box .discount-price-box .discount-price {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  color: #EF4444;
  font-weight: 700;
}
#courses .container .content .course-box .course-text-box .discount-price-box .original-price {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  text-decoration: line-through;
  color: var(--color-gray-600);
  font-weight: 700;
}
#courses .container .content .course-box .course-text-box .time-rating {
  display: flex;
  gap: 1rem;
  color: var(--color-gray-600);
}
#courses .container .content .course-box .course-text-box .time-rating i {
  margin-right: 0.5rem;
}
#courses .container .content .course-box .course-text-box:hover {
  opacity: 0.5;
  background-color: var(--color-gray-300);
}
#courses .container .pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
#courses .container .work-with-us {
  background-color: var(--color-gray-100);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#courses .container .work-with-us .text-box {
  margin-left: 0;
  padding: 4rem;
  text-align: center;
}
@media (min-width: 992px) {
  #courses .container .work-with-us .text-box {
    text-align: start;
    margin-left: 8rem;
    max-width: 30rem;
    padding: 0;
  }
}
#courses .container .work-with-us .text-box p {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}
#courses .container .work-with-us .text-box .theme {
  color: #6366F1;
}
#courses .container .work-with-us .text-box .btn-theme {
  margin-top: 2rem;
  width: 100%;
}
@media (min-width: 992px) {
  #courses .container .work-with-us .text-box .btn-theme {
    width: auto;
  }
}
#courses .container .work-with-us img {
  padding: 3rem 0;
  display: none;
}
@media (min-width: 992px) {
  #courses .container .work-with-us img {
    display: flex;
  }
}

.single-course-showcase {
  position: relative;
  background-color: transparent;
}
.single-course-showcase .background-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  filter: brightness(50%);
  width: 100%;
  height: 100%;
}
.single-course-showcase .container {
  z-index: 1;
  color: white;
  padding: 5rem 0;
}
.single-course-showcase .container .link-box {
  margin-bottom: 4rem;
  width: auto;
  display: flex;
}
.single-course-showcase .container .link-box a {
  display: block;
  color: #E2E5F1;
}
.single-course-showcase .container .link-box a i {
  margin-right: 0.3rem;
}
.single-course-showcase .container .link-box .link-box-arrows {
  font-size: 0.7rem;
  color: #E2E5F1;
  margin: 0 1rem;
}
.single-course-showcase .container .link-box p {
  display: block;
  color: #E2E5F1;
}
.single-course-showcase .container .tags {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.single-course-showcase .container .tags .tag-box {
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.5rem;
}
.single-course-showcase .container .tags .best-seller {
  background-color: #22C55E;
}
.single-course-showcase .container .tags .digital {
  background-color: #E2E5F1;
  color: #0B0F19;
}
.single-course-showcase .container h1 {
  color: #F3F6FF;
}
.single-course-showcase .container p {
  color: #B4B7C9;
  margin-bottom: 3rem;
}
.single-course-showcase .container .rating-box {
  display: flex;
  gap: 2rem;
  color: #B4B7C9;
  align-items: center;
  margin-bottom: 10rem;
}
.single-course-showcase .container .rating-box .rating {
  display: flex;
  padding: 0;
}
.single-course-showcase .container .rating-box .rating i {
  margin-top: 0.3rem;
}
.single-course-showcase .container .rating-box .rating .yellow {
  color: #FFBA08;
}
.single-course-showcase .container .rating-box .likes {
  padding: 0 1.5rem;
  border-right: 1px solid #565973;
  border-left: 1px solid #565973;
}
.single-course-showcase .container .rating-box .length {
  padding: 0;
}
.single-course-showcase .container .author-box {
  display: flex;
  gap: 1.5rem;
}
.single-course-showcase .container .author-box img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 100%;
}
.single-course-showcase .container .author-box .text-box h5 {
  color: #F3F6FF;
}
.single-course-details {
  padding: 5rem 0;
  background-color: var(--color-gray-001);
}
.single-course-details .container .top-part {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 992px) {
  .single-course-details .container .top-part {
    flex-direction: row;
  }
}
.single-course-details .container .top-part .top-left {
  max-width: 45rem;
}
.single-course-details .container .top-part .top-left .what-you-learn i {
  color: #6366F1;
  margin-right: 1rem;
}
.single-course-details .container .top-part .top-right {
  padding: 3rem;
  border: 1px solid #F3F6FF;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  text-align: center;
}
@media (min-width: 992px) {
  .single-course-details .container .top-part .top-right {
    text-align: start;
  }
}
.single-course-details .container .top-part .top-right h3 {
  margin-bottom: 2rem;
}
.single-course-details .container .top-part .top-right p {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.single-course-details .container .top-part .top-right p span {
  position: absolute;
  left: 2.5rem;
}
.single-course-details .container .top-part .top-right .price-box {
  margin-top: 3rem;
  display: flex;
}
.single-course-details .container .top-part .top-right .price-box h4 {
  margin: 0.2rem 1rem;
  color: #B4B7C9;
  text-decoration: line-through;
}
.single-course-details .container .top-part .top-right .btn-theme-s {
  width: 100%;
}
@media (min-width: 992px) {
  .single-course-details .container .top-part .top-right .btn-theme-s {
    width: auto;
  }
}
.single-course-details .container .program-details {
  margin-top: 5rem;
}
.single-course-details .container .program-details h1 {
  margin-bottom: 3rem;
}
.single-course-details .container .program-details .list-item {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  max-width: 45rem;
}
.single-course-details .container .program-details .list-item .number-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 10px solid #6366F120;
  border-radius: 100%;
  box-shadow: 0 0 1rem #6366F180;
}
.single-course-details .container .program-details .list-item .number-circle h4 {
  margin-top: 3px;
}
.single-course-details .container .author-showcase {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid var(--color-gray-300);
  border-radius: 0.3rem;
  overflow: hidden;
}
.single-course-details .container .author-showcase img {
  display: none;
  height: 100%;
  width: auto;
}
@media (min-width: 1200px) {
  .single-course-details .container .author-showcase img {
    display: block;
  }
}
.single-course-details .container .author-showcase .author-details {
  padding: 6rem;
  background-color: #0B0F19;
  background-image: url(/images/courses/background-pattern.svg);
  color: #9397AD;
}
.single-course-details .container .author-showcase .author-details h5 {
  color: #9397AD;
}
.single-course-details .container .author-showcase .author-details h2 {
  color: white;
}
.single-course-details .container .author-showcase .author-details .author-social-media {
  margin-top: 3rem;
  gap: 2rem;
  display: grid;
  grid-template-rows: auto auto;
}
@media (min-width: 992px) {
  .single-course-details .container .author-showcase .author-details .author-social-media {
    grid-template-columns: auto auto;
  }
}

#contact {
  background-color: var(--color-gray-100);
}
#contact .container {
  padding: 5rem 0;
}
#contact .container .field-validation-error {
  display: block;
  color: #EF4444;
}
#contact .container .link-box {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}
@media (min-width: 1200px) {
  #contact .container .link-box {
    justify-content: start;
  }
}
#contact .container .link-box a {
  margin-left: -0.7rem;
}
#contact .container .link-box p {
  margin-top: 1rem;
}
#contact .container .upper-part {
  position: relative;
}
@media (min-width: 1200px) {
  #contact .container .upper-part {
    display: flex;
    justify-content: space-between;
  }
}
#contact .container .upper-part .title-box {
  text-align: center;
}
#contact .container .upper-part .title-box .content {
  display: block;
  padding: 2rem;
  gap: 1rem;
  max-width: 100%;
}
@media (min-width: 1200px) {
  #contact .container .upper-part .title-box .content {
    display: flex;
    max-width: 390px;
  }
}
#contact .container .upper-part .title-box .content .large-icon {
  font-size: 20px;
  color: #6366F1;
  background-color: white;
  padding: 1rem;
  max-width: 3.5rem;
  max-height: 3.3rem;
  border-radius: 10rem;
}
#contact .container .upper-part .title-box .content .small-icon {
  margin-left: 1rem;
}
#contact .container .upper-part .form-box {
  position: inherit;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px var(--color-gray-300);
  padding: 4rem;
  height: 50rem;
  width: 100%;
}
@media (min-width: 1200px) {
  #contact .container .upper-part .form-box {
    position: absolute;
    right: 0;
    width: 40rem;
  }
}
#contact .container .upper-part .form-box .input-group {
  display: grid;
  gap: 1rem;
}
#contact .container .upper-part .form-box .input-group input {
  padding: 0.5rem;
  border-radius: 0.5rem !important;
  border: 0.063rem solid var(--color-gray-400);
}
#contact .container .upper-part .form-box .input-group input::placeholder {
  opacity: 0.4;
}
#contact .container .upper-part .form-box .input-group input.input-validation-error {
  border: 0.063 rem solid #EF4444 !important;
}
#contact .container .upper-part .form-box .input-group textarea {
  padding: 1rem;
  height: 12rem;
  border-radius: 0.5rem !important;
  border: 0.063rem solid var(--color-gray-400);
  resize: none;
}
#contact .container .upper-part .form-box .input-group textarea::placeholder {
  opacity: 0.4;
}
#contact .container .upper-part .form-box .input-group textarea.input-validation-error {
  border: 0.063 rem solid #EF4444 !important;
}
#contact .container .upper-part .form-box .select-group {
  margin-top: 2rem;
}
#contact .container .upper-part .form-box .select-group #service {
  width: 100%;
  border: solid 1px var(--color-gray-400);
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  color: var(--color-gray-700);
}
#contact .container .upper-part .form-box .btn-theme {
  margin-top: 2rem;
}
#contact iframe {
  width: 100%;
  height: 50rem;
}

.error-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
